*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    min-height: 10%;
}

main{
    min-height: 80%;
    background-image:url(./images/bg-acount.jpg) ;
    background-size: cover;
}


footer{
    min-height: 10%;
}