* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(./images/bg-acount.jpg);
    background-position: center center;
    background-size: cover;
}

header {
    min-height: 10%;
}

main {
    min-height: 80%;
}

footer {
    min-height: 10%;
}