<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../images/banking-serviceWhite.png" type="image/x-icon">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" href="../style.css">
        <title>account</title>
    </head>
    
    <body>
    <div id="app">
        <header class="bg-blue-700 flex justify-center items-center p-3">

            <nav class="flex items-center gap-10 flex flex-wrap">
                <img class="h-16 w-16 bg-white rounded-lg p-3" src="../images/banking-serviceWhite.png"
                    alt="LogoHome banking-serviceWhite">

                <div class="flex gap-10">
                    <a class="btn-nav text-2xl p-4 rounded-lg  bg-blue-100" href="./accounts.html">Account</a>
                    <a class="btn-nav text-2xl p-4 rounded-lg  bg-blue-100" href="./cards.html">Cards</a>
                </div>

                <div class="flex items-center bg-white rounded-lg p-2">
                    <h1 class="font-extrabold text-3xl">Bank MindHub</h1>
                </div>

                <div class="flex gap-10">
                    <a class="btn-nav text-2xl p-4 rounded-lg  bg-blue-100" href="#">Loans</a>
                    <a class="btn-nav text-2xl p-4 rounded-lg  bg-blue-100" href="./transfers.html">Transaction</a>
                </div>

                <button v-on:click="closeSeccion" class="btn-nav flex items-center">
                    <img class="h-8 w-8 mr-2" src="../images/cerrar-sesion.png" alt="closeSesion">
                    Close Session
                </button>
            </nav>

    </header>

    <main class="min-h-[80vh]">
            <h2 class="text-[50px] text-center text-white">Welcome {{clients.firstname}}!</h2>
            <div class="flex flex-wrap">
                <img class="w-1/2 h-[15rem] bg-cover" src="../images/bannerAcount2.1.jpg" alt="welcomeBanner1">
                <img class="w-1/2 h-[15rem] bg-cover" src="../images/bannerAcount2.jpg" alt="welcomeBanner2">
            </div>
            <div class="flex flex-wrap gap-10 justify-center items-center h-full w-full">
                <div class="bg-white w-[300px] h-[160px] p-[10px] rounded-lg shadow-2xl shadow-black m-[10px]">
                    <h2 class="text-black text-lg">Account Number: {{account.number}} </h2>
                    <div>
                        <h2 class="text-black text-lg">Balance: </h2>
                        <div class="bg-grey rounded-lg">
                            <h2 class="text-[30px] text-center text-black">{{formatBudget(account.balance)}}</h2>
                        </div>
                    </div>
                    <h2 class="text-black">Creation Date: {{account.creationDate}} </h2>
                </div>

                <table class="border border-black w-1/2 h-1/4 border-solid-5 p-10 rounded-lg shadow-md bg-white gap-5 text-center">
                    <thead>
                        <tr>
                            <th class="border-b border-black">Type</th>
                            <th class="border-b border-black">Amount</th>
                            <th class="border-b border-black">Date</th>
                            <th class="border-b border-black">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-if="transactions.length > 0" v-for="transactionTable in transactions ">
                            <tr class="border-b border-gray-300">
                                <td v-if="transactionTable.type == 'CREDIT'" class="py-2 text-green-600 font-extrabold">{{transactionTable.type}}</td>
                                <td v-else class="py-2 text-red-600 font-extrabold">{{transactionTable.type}}</td>

                                <td class="py-2">{{formatBudget(transactionTable.amount)}}</td>
                                <td class="py-2">{{transactionTable.description}}</td>
                                <td class="py-2">{{transactionTable.dateTime}}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer class="bg-blue-700 text-white flex flex-wrap justify-center text-center items-center justify-around p-3">
        <div class="flex justify-around text-center items-center gap-10">
            <p>© Cohort-52 Xavier Nochelli 2023 All rights reserved</p>
            <div class="flex flex-wrap justify-center text-center items-center justify-around gap-10 ">
                <img class="h-[3rem] w-[3rem]" src="../images/instagram.png" alt="instagram">
                <img class="h-[3rem] w-[3rem]" src="../images/facebook.png" alt="facebook">
                <img class="h-[3rem] w-[3rem]" src="../images/whatsapp.png" alt="whatsapp">
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="../tailwind.config.js"></script>
    <script src="../JavaScript/account.js"></script>
</body>


</html>