<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/banking-serviceWhite.png" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>cards</title>
</head>

<body>
    <div id="app">
        <header class="bg-blue-700 flex justify-center items-center p-3">
            <nav class="flex items-center w-full flex-wrap bg-blue-700 p-4">

                <div class="w-full md:w-auto md:flex-shrink-0 flex justify-center items-center md:mr-4">
                    <img class="h-16 w-16 bg-white rounded-lg p-3" src="../images/banking-serviceWhite.png"
                        alt="LogoHome banking-serviceWhite">
                    <h1 class="font-extrabold text-3xl text-white ml-2">Bank MindHub</h1>
                </div>
                <button v-on:click="closeSeccion" class="btn-nav flex items-center ml-auto text-white">
                    <img class="h-8 w-8 mr-2" src="../images/cerrar-sesion.png" alt="closeSesion">
                    Close Session
                </button>
            
                <div class="w-full flex  flex-wrap gap-5  mt-4 md:mt-0 md:flex justify-center items-center  md:flex-wrap md:space-x-8">
                    <a class="btn-nav text-2xl p-3 md:p-4 rounded-lg bg-blue-100" href="./accounts.html">Account</a>
                    <a class="btn-nav text-2xl p-3 md:p-4 rounded-lg bg-blue-900" href="./cards.html">Cards</a>
                    <a class="btn-nav text-2xl p-3 md:p-4 rounded-lg bg-blue-100" href="./loan-application.html">Loans</a>
                    <a class="btn-nav text-2xl p-3 md:p-4 rounded-lg bg-blue-100" href="./transfers.html">Transaction</a>
                </div>
            
            </nav>
            
            

        </header>

        <main class="min-h-[80vh] justify-center items-center">

            <h2 class="text-[50px] text-center text-white">Welcome {{clients.firstname}}!</h2>

            <div class="flex flex-wrap gap-5 items-center justify-around">
                <button @click="selectAndCreateCard" class="text-2xl p-4 rounded-lg  bg-blue-100">
                    Apply for Credit or Debit Cards!
                </button>


                <form class="text-2xl p-4 rounded-lg  bg-blue-100">
                    <label for="">Card Number</label>
                    <select v-model="cardId">
                        <template v-if="cards.length > 0 " v-for="card in cards">
                            <option :value="card.id">{{card.number}}</option>
                        </template>
                    </select>
                    <button @click.prevent="deleteCard" class="text-2xl p-4 rounded-lg  bg-blue-100">
                        Deleted Credit or Debit Cards!
                    </button>
                </form>
            </div>



            <template v-if="cards.length > 0" v-for="card of cards">
                <div id="main" v-if="card.cardColor === 'SILVER'"
                    class=" flex flex-wrap  items-center justify-between  h-[20rem] w-full gap-10 ">
                    <div id="topography" class="h-full w-full gap-5 flex flex-wrap  items-center justify-center">
                        <button @click="cardExpiration(card)" class="text-2xl p-4 rounded-lg  bg-blue-100 p-2">
                            Card Expiration
                        </button>
                        <div id="credit-card-container"
                            class="h-56 w-96 rounded-2xl bg-gradient-to-tr from-gray-500 to-blue-700 group shadow-xl text-blue-200 tracking-wide 
                        font-semibold transform transition duration-500 ease-in-out rotate-0 scale-100 hover:rotate-6 hover:scale-105 hover:shadow-2xl">
                            <div id="dots-texture" class="h-full w-full relative rounded-2xl">
                                <div id="credit-card-body"
                                    class="absolute w-full h-full grid grid-flow-row grid-cols-3 grid-rows-7">
                                    <div class="row-span-1 col-span-3 flex flew-wrap content-center">
                                        <span
                                            class="text-lg pl-6 pt-6 w-full font-thin inline-block align-text-top text-blue-300">MindHub
                                            Bank</span>
                                        <span class="text-2xl font-bold italic text-right pr-6 pt-6 text-blue-300">VISA
                                            SILVER
                                            {{card.cardType}}</span>
                                    </div>

                                    <div id="credit-card-num"
                                        class="px-6 tracking-widest select-none  row-span-3 col-span-3 w-full flex flex-wrap content-center text-blue-200">
                                        <div contenteditable class="text-sm">{{card.number}}</div>
                                    </div>

                                    <div id="" class="col-span-3 row-span-2 px-6 bg-gray-500 bg-opacity-20 rounded-b-2xl border-t-2 border-indigo-600 w-full 
                                    grid grid-cols-3 grid-rows-2 w-full text-gray-50 text-opacity-70">
                                        <div id="credit-card-name" class="tracking-widest col-span-2 self-end w-full">
                                            {{card.cardHolder}}
                                        </div>
                                        <div id="credit-card-date" :class="{ 'text-red-500': card.isExpired }"
                                            class="col-span-3 self-start text-sm">
                                            "Since"{{card.fromDate}}" Thru "{{card.thrueDate}} CVV {{card.cvv}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <div v-else class="flex justify-center items-center ">
                <h2 class="text-2xl w-[20rem] font-extrabold bg-white rounded-lg p-5 m-5">Does Not Have SILVER Cards
                </h2>
            </div>

            <template v-if="cards.length > 0" v-for="card of cards">
                <div id="main" v-if="card.cardColor === 'GOLD'"
                    class=" flex items-center justify-around  h-[20rem] w-full gap-10 ">
                    <div id="topography" class="h-full w-full flex flex-wrap gap-5  items-center justify-center p-2">
                        <button @click="cardExpiration(card)" class="text-2xl p-4 rounded-lg  bg-blue-100">
                            Card Expiration
                        </button>
                        <div id="credit-card-container"
                            class="h-56 w-96 rounded-2xl bg-gradient-to-tr from-yellow-500 to-blue-700 group shadow-xl text-blue-200 tracking-wide 
                            font-semibold transform transition duration-500 ease-in-out rotate-0 scale-100 hover:rotate-6 hover:scale-105 hover:shadow-2xl">
                            <div id="dots-texture" class="h-full w-full relative rounded-2xl">
                                <div id="credit-card-body"
                                    class="absolute w-full h-full grid grid-flow-row grid-cols-3 grid-rows-7">
                                    <div class="row-span-1 col-span-3 flex flew-wrap content-center">
                                        <span
                                            class="text-lg pl-6 pt-6 w-full font-thin inline-block align-text-top text-blue-300">MindHub
                                            Bank</span>
                                        <span class="text-2xl font-bold italic text-right pr-6 pt-6 text-blue-300">VISA
                                            GOLD
                                            {{card.cardType}}</span>
                                    </div>

                                    <div id="credit-card-num"
                                        class="px-6 tracking-widest select-none  row-span-3 col-span-3 w-full flex flex-wrap content-center text-blue-200">
                                        <div contenteditable class="text-sm">{{card.number}}</div>
                                    </div>

                                    <div id="" class="col-span-3 row-span-2 px-6 bg-gray-500 bg-opacity-20 rounded-b-2xl border-t-2 border-indigo-600 w-full 
                                        grid grid-cols-3 grid-rows-2 w-full text-gray-50 text-opacity-70">
                                        <div id="credit-card-name" class="tracking-widest col-span-2 self-end w-full">
                                            {{card.cardHolder}}
                                        </div>
                                        <div id="credit-card-date" :class="{ 'text-red-500': card.isExpired }"
                                            class="col-span-3 self-start text-sm">
                                            "Since"{{card.fromDate}}" Thru "{{card.thrueDate}} CVV {{card.cvv}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <div v-else class="flex justify-center items-center ">
                <h2 class="text-2xl w-[20rem] font-extrabold bg-white rounded-lg p-5 m-5">Does Not Have GOLD Cards</h2>
            </div>
            <!-- Modal -->

            <template v-if="cards.length > 0" v-for="card of cards">
                <div id="main" v-if="card.cardColor === 'TITANIUM'"
                    class=" flex items-center justify-around  h-[20rem] w-full gap-10 ">
                    <div id="topography" class="h-full w-full flex flex-wrap gap-5 items-center justify-center">
                        <button @click="cardExpiration(card)" class="text-2xl p-4 rounded-lg  bg-blue-100">
                            Card Expiration
                        </button>
                        <div id="credit-card-container"
                            class="h-56 w-96 rounded-2xl bg-gradient-to-tr from-gray-900 to-blue-700 group shadow-xl text-blue-200 tracking-wide 
                            font-semibold transform transition duration-500 ease-in-out rotate-0 scale-100 hover:rotate-6 hover:scale-105 hover:shadow-2xl">
                            <div id="dots-texture" class="h-full w-full relative rounded-2xl">
                                <div id="credit-card-body"
                                    class="absolute w-full h-full grid grid-flow-row grid-cols-3 grid-rows-7">
                                    <div class="row-span-1 col-span-3 flex flew-wrap content-center">
                                        <span
                                            class="text-lg pl-6 pt-6 w-full font-thin inline-block align-text-top text-blue-300">MindHub
                                            Bank</span>
                                        <span class="text-2xl font-bold italic text-right pr-6 pt-6 text-blue-300">VISA
                                            TITANIUM
                                            {{card.cardType}}</span>
                                    </div>

                                    <div id="credit-card-num"
                                        class="px-6 tracking-widest select-none  row-span-3 col-span-3 w-full flex flex-wrap content-center text-blue-200">
                                        <div contenteditable class="text-sm">{{card.number}}</div>
                                    </div>

                                    <div id="" class="col-span-3 row-span-2 px-6 bg-gray-500 bg-opacity-20 rounded-b-2xl border-t-2 border-indigo-600 w-full 
                                        grid grid-cols-3 grid-rows-2 w-full text-gray-50 text-opacity-70">
                                        <div id="credit-card-name" class="tracking-widest col-span-2 self-end w-full">
                                            {{card.cardHolder}}
                                        </div>
                                        <div id="credit-card-date" :class="{ 'text-red-500': card.isExpired }"
                                            class="col-span-3 self-start text-sm">
                                            "Since"{{card.fromDate}}" Thru "{{card.thrueDate}} CVV {{card.cvv}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <div v-else class="flex justify-center items-center ">
                <h2 class="text-2xl w-[20rem] font-extrabold bg-white rounded-lg p-5 m-5">Does Not Have TITANIUM Cards
                </h2>
            </div>

    </div>

    </main>

    <footer class="bg-blue-700 text-white flex flex-wrap justify-center text-center items-center justify-around p-3 ">
        <div class="flex justify-around text-center items-center gap-10">
            <p>© Cohort-52 Xavier Nochelli 2023 Todos los derechos reservados</p>
            <div class="flex flex-wrap justify-center text-center items-center justify-around gap-10 ">
                <img class="h-[3rem] w-[3rem]" src="../images/instagram.png" alt="instagram">
                <img class="h-[3rem] w-[3rem]" src="../images/facebook.png" alt="facebook">
                <img class="h-[3rem] w-[3rem]" src="../images/whatsapp.png" alt="whatsapp">
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="../tailwind.config.js"></script>
    <script src="../JavaScript/cards.js"></script>
</body>

</html>